.edfran{
  background-image: url('../ico/edfran-clothing-for-men-black1.svg');
  background-size: 200px;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color:	#fffafa;
}
.edfran-name{
  background-image: url('../ico/edfran-clothing-for-men-white-name1.svg');
  background-size: 200px;
  background-size: contain;
  background-color: #373435;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
